{% extends 'base.html.twig' %}

{% block title %}Nouvel Ingrédient{% endblock %}

{% block body %}
    <h1>Création d'un nouvel ingrédient</h1>

    {{ include('ingredient/_form.html.twig') }}

    <a class="mt-3 btn btn-primary btn-block" href="{{ path('ingredient_index') }}">Retour à la liste des ingrédients</a>
{% endblock %}
