
<form method="post" action="{{ path('pizza_delete', {'id': pizza.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer cette pizza?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pizza.id) }}">
    <button class="btn-block btn btn-danger">Supprimer</button>
</form>
