{% extends 'base.html.twig' %}

{% block title %}Modification de la pizza{% endblock %}

{% block body %}
    <h1>Modification de la pizza</h1>

    {{ include('pizza/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <p class="mt-3">{{ include('pizza/_delete_form.html.twig') }}</p>

    <p class="mt-3">
        <a class="btn btn-primary btn-block" href="{{ path('ingredient_index') }}">Retour à la liste des ingrédients</a>
    </p>
{% endblock %}
